.footer {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-color: #010a12;
  color: white;
  
  border-top: 1px solid #e5e7eb;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px 40px;
  width: 100%;
  max-width: 100%;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 10px 20px;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #e5e7eb;
  padding: 10px 0;
  background-color: #f1f3f5;
  font-size: 0.9rem;
  color: #555;
}
